
<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Tasters</title>
 
</head>
<body>
    <div class="center jumbotron">
        <h1>Welcome to The Tasters!</h1>
        <h3>Find some Food. Find a Friend</h3>
        <br>
        <%= link_to "Enter the Taste!", login_path , class: "btn btn-lg btn-primary" %>
        <%= render 'layouts/footer' %>
    </div>

</body>
</html>