
<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Tasters</title>
 
</head>
<body>
    <h1>Welcome to The Tasters!</h1>
    <%= button_to "Enter the Taste!", login_path, method: :get %>    
</body>
</html>